source "drivers/misc/mediatek/sensors-1.0/accelerometer/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/alsps/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/gyroscope/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/magnetometer/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/hwmon/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/barometer/Kconfig"
#source "drivers/misc/mediatek/sensors-1.0/accelgyro/Kconfig"
#source "drivers/misc/mediatek/sensors-1.0/humidity/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/activity_sensor/Kconfig"
#source "drivers/misc/mediatek/sensors-1.0/pedometer/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/sensorfusion/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/step_counter/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/sensorHub/Kconfig"
#source "drivers/misc/mediatek/sensors-1.0/geofence/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/biometric/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/sensorfusion/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/oppo_virtual_sensor/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/oppo_virtual_sensor/camera_protecthub/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/oppo_virtual_sensor/free_fallhub/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/oppo_virtual_sensor/pickup_detecthub/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/oppo_virtual_sensor/fp_displayhub/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/oppo_virtual_sensor/lux_aodhub/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/oppo_virtual_sensor/pedo_minutehub/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/oppo_virtual_sensor/oppo_activity_recognitionhub/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/oppo_virtual_sensor/tp_gesturehub/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/oppo_virtual_sensor/elevator_detecthub/Kconfig"
